body {
    margin: 5px;    
    background-color: #9bc803;
    width: 720px;
    height: 480px;
}
section {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
hr {
    height: 1px;
    background-color: #233413;
    margin-right: 25px;
    width: 720px;
}
#snakeboard {
  border-width: 5px;
  left: 50%;
  
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
#intro {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #233413;
    font-size: large;
    animation-name: fromTop;
    animation-duration: 4s;
    position: absolute;
}

#press_any_key {
    animation-name: apear;
    animation-duration:4s;
}

@keyframes apear {
    0% {
        opacity: 0%;
    }
    99% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fromTop {
    from {
        top:-480px;
    }
    to {
        top:0px;
    }
}