body {
    background-color: gray;
}
section {
    display: flex;
    flex-direction: column;
    
}

#snakeboard {
   
  border-width: 5px;
  left: 50%;
  
}
.content {
    display: flex;
    justify-content: space-around;
}